.player{
    width: 300px;
    display: flex;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
   

    img{
        
        height: 50px;
    
        object-fit: cover;
        margin-left: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        //border-radius: 100%;
    }
    background-color: rgb(50, 50, 50, 0.7);

    span{
        font-size: 30px;
        margin-left: 50px;
        font-weight: bold;
        font-family:Arial, Helvetica, sans-serif

    }
}

.player-active{
    background-color: rgb(255, 153, 0) !important ;
}

@media(max-width: 1000px) {

    .player{
        width: 200px;
        display: flex;
        align-items: center;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
      
    }
}