.start-screen{
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        
        object-fit: cover;
        max-width: 100%;
    }
}

.start-label-box{
    position: absolute;
    
    top: 200px;
    margin-bottom: 100px;

    
   
   
  

    img{
       
        height: auto;
        object-fit: cover;
        margin-right: 300px;

        &:hover{
            filter: brightness(1.5);
            cursor: pointer;
        }

    }
}

@media(max-width: 1000px) {
    .start-screen{
        display: flex;
        justify-content: center;
        align-items: center;
     


        img{
            
        
      
        }

      
    }

    .start-label-box{
        margin-bottom: 100px;
        bottom: 250px;
        margin-left: 0px;
    }

}